@import url(../../style.css);

h2 {
  background-color: var(--bg-secondary);
}

.container {
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-primary);
  height: 10rem;
}

.container div {
  padding: 1rem;
  width: 6rem;
  background-color: var(--bg-secondary);
}

@media screen and (min-width: 720px) {
}
